*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:#FFF9F6;

font-family:Inter,sans-serif;

color:#3F3A4A;

overflow-x:hidden;

}

/* Background */

.bg-circle{

position:fixed;

border-radius:50%;

filter:blur(120px);

z-index:-1;

opacity:.5;

}

.one{

width:320px;
height:320px;

background:#E8D9FF;

top:-80px;
left:-80px;

}

.two{

width:350px;
height:350px;

background:#D7F6F1;

bottom:-120px;
right:-80px;

}

/* Navbar */

nav{

position:fixed;

top:25px;

left:50%;

transform:translateX(-50%);

width:90%;

padding:18px 35px;

background:rgba(255,255,255,.65);

backdrop-filter:blur(16px);

border-radius:18px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 10px 30px rgba(80,70,120,.08);

}

.logo{

font-family:"JetBrains Mono";

font-size:.95rem;

color:#756A8C;

}

nav ul{

display:flex;

gap:35px;

list-style:none;

}

nav a{

text-decoration:none;

color:#555;

font-weight:500;

transition:.3s;

}

nav a:hover{

color:#9C84F5;

}

.right-nav{

display:flex;

gap:20px;

}

/* Hero */

.hero{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding-top:90px;

}

/* Terminal */

.terminal{

width:820px;

background:#6F6888;

border-radius:24px;

overflow:hidden;

box-shadow:0 25px 60px rgba(100,90,130,.18);

}

/* Terminal Header */

.terminal-top{

height:55px;

background:#7A7395;

display:flex;

align-items:center;

padding-left:22px;

}

.buttons{

display:flex;

gap:10px;

}

.red,
.yellow,
.green{

width:14px;
height:14px;

border-radius:50%;

}

.red{

background:#FFB5B5;

}

.yellow{

background:#FFE7A3;

}

.green{

background:#C8F7C5;

}

/* Terminal Body */

.terminal-content{

padding:55px;

font-family:"JetBrains Mono";

color:white;

}

.prompt{

margin-bottom:25px;

color:#D8FFDA;

}

.prompt span{

color:white;

margin-left:8px;

}

h1{

font-family:"Space Grotesk";

font-size:4.2rem;

margin-bottom:10px;

}

h2{

font-size:1.7rem;

font-weight:400;

color:#F2EFFF;

margin-bottom:28px;

}

.description{

font-family:Inter;

font-size:1.08rem;

line-height:1.9;

max-width:620px;

color:#F8F6FD;

}

/* Buttons */

.hero-buttons{

margin-top:45px;

display:flex;

gap:18px;

}

.hero-buttons a{

text-decoration:none;

padding:14px 28px;

border-radius:12px;

background:#FFF8F2;

color:#6B6483;

font-weight:600;

transition:.3s;

}

.hero-buttons a:hover{

transform:translateY(-3px);

background:#F6EFFF;

}

/* Mobile */

@media(max-width:900px){

nav ul{

display:none;

}

.right-nav{

display:none;

}

.terminal{

width:95%;

}

.terminal-content{

padding:35px;

}

h1{

font-size:2.8rem;

}

h2{

font-size:1.2rem;

}

.hero-buttons{

flex-direction:column;

}

}
