/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:#FCF8FF;

    color:#494562;

    font-family:'Inter',sans-serif;

    overflow-x:hidden;

}

/* ===========================
   COLORS
=========================== */

:root{

--bg:#FCF8FF;

--white:#FFFFFF;

--purple:#9D86F8;

--lavender:#E9DEFF;

--pink:#FFDCEB;

--blue:#DDF2FF;

--mint:#DDF8EE;

--text:#494562;

--light:#7F789F;

}

/* ===========================
   NAVBAR
=========================== */

header{

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

backdrop-filter:blur(20px);

background:rgba(252,248,255,.8);

border-bottom:1px solid #EEE7FF;

}

.navbar{

max-width:1300px;

margin:auto;

padding:22px 35px;

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-family:'JetBrains Mono',monospace;

font-size:21px;

font-weight:700;

color:var(--purple);

}

.navbar ul{

display:flex;

gap:35px;

list-style:none;

}

.navbar a{

text-decoration:none;

color:var(--text);

font-size:15px;

transition:.3s;

}

.navbar a:hover{

color:var(--purple);

}

/* ===========================
   HERO
=========================== */

.hero{

max-width:1300px;

margin:auto;

padding-top:140px;

min-height:100vh;

display:grid;

grid-template-columns:1.1fr .9fr;

align-items:center;

gap:70px;

}

/* ===========================
 TERMINAL
=========================== */

.terminal{

background:#F8F5FF;

border-radius:30px;

overflow:hidden;

box-shadow:

0 20px 60px rgba(174,155,255,.20);

border:1px solid #E8DFFF;

}

.terminal-header{

height:55px;

background:#EFE5FF;

display:flex;

align-items:center;

padding-left:22px;

gap:12px;

}

.dot{

width:14px;

height:14px;

border-radius:50%;

}

.pink{

background:#FF8DB8;

}

.yellow{

background:#FFD76A;

}

.green{

background:#7DDC87;

}

.terminal-body{

padding:45px;

font-family:'JetBrains Mono',monospace;

}

.terminal-body p{

font-size:18px;

color:#6E6691;

margin-bottom:12px;

}

.terminal-body h1{

font-size:70px;

font-family:'Playfair Display',serif;

margin-bottom:15px;

color:#514A75;

}

.terminal-body h3{

font-size:23px;

font-weight:500;

color:#8279A5;

}

.cursor{

animation:blink .8s infinite;

font-size:22px;

}

@keyframes blink{

50%{

opacity:0;

}

}
